
The Ultimate Game Box
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
    <form onsubmit="startStreamingIO(event)">
        <textarea id="chat-window">{{textarea_story}}</textarea>
        <div class="button-container">
            <button type="submit" id="button1">{{ button1_label }}</button>
            <button type="submit" id="button2">{{ button2_label }}</button>
        </div>
        <div class="button-container" style="margin-bottom: 20px;">
            <button type="submit" id="button3">{{ button3_label }}</button>
            <button type="submit" id="button4">{{ button4_label }}</button>
        </div>
        <input type="text" id="text_field" placeholder="Enter text here">
    </form>
    <form method="POST" action="/clear">
        <button type="submit" id="clear_button"> Clear Text</button>
    </form>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='frontend.js') }}"></script>
</body>
</html>
